<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>domoicBook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMemberServlet</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>web.AddMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMemberServlet</display-name>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <servlet-class>web.RemoveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMemberServlet</servlet-name>
    <url-pattern>/RemoveMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>web.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InboxServlet</display-name>
    <servlet-name>InboxServlet</servlet-name>
    <servlet-class>web.InboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InboxServlet</servlet-name>
    <url-pattern>/InboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutboxServlet</display-name>
    <servlet-name>OutboxServlet</servlet-name>
    <servlet-class>web.OutboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutboxServlet</servlet-name>
    <url-pattern>/OutboxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetObligationServlet</display-name>
    <servlet-name>SetObligationServlet</servlet-name>
    <servlet-class>web.SetObligationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetObligationServlet</servlet-name>
    <url-pattern>/SetObligationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentServlet</display-name>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <servlet-class>web.UpdatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <url-pattern>/UpdatePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckObligationServlet</display-name>
    <servlet-name>CheckObligationServlet</servlet-name>
    <servlet-class>web.CheckObligationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckObligationServlet</servlet-name>
    <url-pattern>/CheckObligationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDiscussionServlet</display-name>
    <servlet-name>AddDiscussionServlet</servlet-name>
    <servlet-class>web.AddDiscussionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDiscussionServlet</servlet-name>
    <url-pattern>/AddDiscussionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllDiscussionsServlet</display-name>
    <servlet-name>GetAllDiscussionsServlet</servlet-name>
    <servlet-class>web.GetAllDiscussionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDiscussionsServlet</servlet-name>
    <url-pattern>/GetAllDiscussionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnswer</display-name>
    <servlet-name>AddAnswer</servlet-name>
    <servlet-class>web.AddAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnswer</servlet-name>
    <url-pattern>/AddAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDiscussionInfoServlet</display-name>
    <servlet-name>GetDiscussionInfoServlet</servlet-name>
    <servlet-class>web.GetDiscussionInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDiscussionInfoServlet</servlet-name>
    <url-pattern>/GetDiscussionInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlat</display-name>
    <servlet-name>AddFlat</servlet-name>
    <servlet-class>web.AddFlat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlat</servlet-name>
    <url-pattern>/AddFlat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotificationServlet</display-name>
    <servlet-name>AddNotificationServlet</servlet-name>
    <servlet-class>web.AddNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotificationServlet</servlet-name>
    <url-pattern>/AddNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllNotifications</display-name>
    <servlet-name>GetAllNotifications</servlet-name>
    <servlet-class>web.GetAllNotifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllNotifications</servlet-name>
    <url-pattern>/GetAllNotifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnswerServlet</display-name>
    <servlet-name>AddAnswerServlet</servlet-name>
    <servlet-class>web.AddAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnswerServlet</servlet-name>
    <url-pattern>/AddAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlatServlet</display-name>
    <servlet-name>AddFlatServlet</servlet-name>
    <servlet-class>web.AddFlatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlatServlet</servlet-name>
    <url-pattern>/AddFlatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllNotificationsServlet</display-name>
    <servlet-name>GetAllNotificationsServlet</servlet-name>
    <servlet-class>web.GetAllNotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllNotificationsServlet</servlet-name>
    <url-pattern>/GetAllNotificationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayObligationServlet</display-name>
    <servlet-name>PayObligationServlet</servlet-name>
    <servlet-class>web.PayObligationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayObligationServlet</servlet-name>
    <url-pattern>/PayObligationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>web.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>